<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211284577045-lqc81q1kmkvv61216vlghtrf22qboc17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211284577045-lqc81q1kmkvv61216vlghtrf22qboc17</string>
	<key>API_KEY</key>
	<string>AIzaSyAzt-uzuNRQifJYKUUia8o0YY6tWZ1aA78</string>
	<key>GCM_SENDER_ID</key>
	<string>211284577045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guards.GreenSitter</string>
	<key>PROJECT_ID</key>
	<string>greensitter-6dedd</string>
	<key>STORAGE_BUCKET</key>
	<string>greensitter-6dedd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211284577045:ios:09145a78b2ab52b8cd771c</string>
</dict>
</plist>